/* DEBUG */

.debug1 {
  background-color: blue;
}

.debug2 {
  background-color: brown;
}

/* GLOBALI */

body {
  font-family: 'Roboto', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.w-60 {
  width: 60%;
  margin: 0 auto;
}

.w-80 {
  width: 80%;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
  padding: 0;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.blue {
  color: #006AFF;
}

/* LISTS */

.inline-list {
  list-style: none;
}

.inline-list li {
  display: inline;
  padding: 0 2%;
}

.inline-list li a {
  font-weight: 500;
  text-decoration: none;
}

.inline-list li a,
.inline-list li a:hover,
.inline-list li a:active {
  color: black;
}

.vertical-list {
  list-style: none;
}

.vertical-list li {
  padding:10px 0;
}

.vertical-list li a {
  font-weight: 500;
  text-decoration: none;
}

.vertical-list li a,
.vertical-list li a:hover,
.vertical-list li a:active {
  color: gray;
}

/* BUTTON */

.btn {
  padding: 5px 10px;
}

.btn-filled-blue {
  background-color: #579AFF;
  color: white;
}

.btn-filled-blue:active,
.btn-filled-blue:hover {
  background-color: #006AFF;
  color: white;
  border: none;
}

/* HEADER */

header {
  width: 100%;
}

header .sc-navbar {
  height: 80px;
}

header .sc-navbar .btn {
  color: #006AFF;
  border: 1px solid #006AFF;
  background-color: white;
}

header .sc-navbar .btn a {
  color: #006AFF;
}

header .sc-navbar .row {
  line-height: 80px;
}

header .sc-navbar img {
  width: 100%;
}

header .sc-navbar .hamburger-menu {
  font-size: 200%;
  color: #006AFF;
}

/* JUMBOTRON */

header .sc-jumbotron {
  background-image: url('../img/bg-banner-home.jpg');
  background-size: cover;
}

header .sc-jumbotron h1 {
  color: white;
  font-size: 60px;
}

header .sc-jumbotron h5 {
  color: #BBCDFF;
  font-size: 20px;
  line-height: 3.5vh;
}

header .sc-jumbotron .header-login {
  padding: auto;
  border-radius: 10px;
  background-color: white;
  margin: 30px 0;
  padding: 20px;
}

header .sc-jumbotron .header-login h3 {
  margin-bottom: 15px;
  margin-top: 0;
}

header .sc-jumbotron .header-login input {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 0.5px solid lightgray;
}

header .sc-jumbotron .header-login .btn-filled-blue,
header .sc-jumbotron .header-login .btn {
  width: 100%;
  margin-bottom: 15px;
}

header .sc-jumbotron .header-login .btn img {
  width: 20px;
}

header .sc-jumbotron .header-login p {
  font-size: 80%;
}

header .sc-jumbotron .header-login p a {
  text-decoration: underline;
}

/* MAIN */

main #businesses {
  width: 100%;
  background-color: #F3F5F9;
}

main #businesses h4 {
  color: gray;
  margin: 30px 0;
}

main #businesses .row div {
  height: 100px;
}

main #businesses .row div img {
  max-height: 100px;
  max-width: 100%;
  padding: 10px;
}

main #businesses p {
  margin-bottom: 30px;
}

main #deploy {
  width: 100%;
}

main #deploy h2 {
  color: #031C4E;
  margin: 30px 0;
}

main #deploy h4 {
  color: #5C6A88;
  margin-bottom: 30px;
}

main #deploy .vertical-list {
  border-left: 1px solid #CCCCCC;
  padding-left: 20px;
}

main #deploy .vertical-list li a {
  color: #75809A;
}

main #deploy .row div{
  min-height: 150px;
}

main #themes {
  width: 100%;
  background-color: #F3F5F9;
}

main #themes h2 {
  color: #031C4E;
  padding-top: 30px;
}

main #themes h4 {
  color: #5C6A88;
}

main #themes .wrapper img,
main #themes .wrapper i {
  display: inline-block;
}

main #themes .wrapper img {
  width: 78%;
  padding: 0 1%;
}

main #themes .wrapper i {
  width: 10%;
  font-size: 200%;
  color: #6F7B97;
}

main #themes .wrapper i:active,
main #themes .wrapper i:hover {
  font-size: 200%;
  color: #031C4E;
}

main #themes .wrapper ul.inline-list {
  padding-left: 0;
}

main #themes .wrapper ul.inline-list li {
  padding: 0;
}

main #themes .wrapper ul.inline-list li i{
  color: #006AFF;
  width: 10px;
  font-size: 80%;
}

main #features {
  width: 100%;
}

main #cities {
  width: 100%;
  color: white;
  background: linear-gradient(0deg, #001E99 0%, #0048C5 100%);
}

main #cities tr.tr-border-bottom {
  border-bottom: 1px solid white;
}

main #cities table {
  width: 100%;
}

main #cities table tr td {
  padding: 10px 0;
}

main #cities td.code {
  width: 20%;
  text-align: left;
  padding-left: 10px;
}

main #cities td.city {
  width: 56%;
  color: #B3C1E5;
  text-align: left;
}

main #cities td.speed-test {
  width: 20%;
  padding-right: 10px;
}

main #cities td.speed-test a {
  color: #00D5D1;
}

main #teams {
  width: 100%;
  background-color: #F3F5F9;
}

main #teams h2 {
  color: #031C4E;
  padding-top: 30px;
}

main #teams .wrapper .carousel,
main #teams .wrapper i {
  display: inline-block;
}

main #teams .wrapper .carousel {
  width: 75%;
  margin: 0 1%;
  padding: 30px 0;
  background-color: white;
}

main #teams .wrapper .carousel  h4{
  color: #5C6A88;
}

main #teams .wrapper .carousel  h5{
  font-weight: 700;
  margin-bottom: 0;
}

main #teams .wrapper .carousel  a{
  color: #006AFF;
}

main #teams .wrapper i {
  width: 10%;
  font-size: 200%;
  color: #6F7B97;
}

main #teams .wrapper i:active,
main #teams .wrapper i:hover {
  font-size: 200%;
  color: #031C4E;
}

main #teams .wrapper ul.inline-list {
  padding-left: 0;
}

main #teams .wrapper ul.inline-list li {
  padding: 0;
}

main #teams .wrapper ul.inline-list li i{
  color: #006AFF;
  width: 10px;
  font-size: 80%;
}

main #get-started {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: linear-gradient(0deg, #001E99 0%, #0048C5 100%);
}

main #get-started .btn {
  color: #006AFF;
  background-color: white;
  bord
}

/* FOOTER */

footer {
  width: 100%;
}

footer .footer-lists {
  background-color: khaki;
}

footer .footer-lists .row div {
  height: 100px;
  background-color: lawngreen;
  border: 2px solid black;
}